<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />

    <title>Gualmar</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Gualmar</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
       
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>